@import url('https://fonts.googleapis.com/css?family=Anton|Girassol|Josefin+Sans|Special+Elite&display=swap');

// font-family: 'Girassol', cursive;
// font-family: 'Anton', sans-serif;
// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Special Elite', cursive;

//style--------------------//

.button {
  margin: 20px;
  font-family: 'Girassol', cursive;
}

.light:hover {
  background-image: url('https://media.giphy.com/media/RHlUAl8WtCyHK/giphy.gif');
  background-size: cover;
  background-repeat: no-repeat;
}

.dark:hover {
  background-image: url('https://thumbs.gfycat.com/HighBoringIndianglassfish-small.gif');
  background-size: cover;
  background-repeat: no-repeat;
}

.opening-text {
  font-family: 'Special Elite', cursive;
  font-weight: bold;
  font-size: 1.5em;
}

div.title {
  font-family: 'Anton', sans-serif;
  font-size: 5rem;
}

div.versus {
  font-size: 6rem;
}

#main-hero {
  background-image: linear-gradient(rgba(245,245,245,0.5), rgba(245,245,245,0.5)), url('https://artfiles.alphacoders.com/894/89493.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.versus {
  padding: 0 0.8rem;
}

//flex---------------------//

div.title {
  display: flex;
  justify-content: center;
}

.scoring {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.play-score, .comp-score {
  display: flex;
  flex-flow: row wrap;
}

.winners {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.game-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

//animation------------------//

.fade-in {
  animation: fadein 3s;
}

@keyframes fadein {
  0% { background-image: url('https://artfiles.alphacoders.com/894/89493.jpg'); opacity: 1; }
  33% { background-image: url('https://artfiles.alphacoders.com/894/89493.jpg'); opacity: 1; }
  100% { background-image: url('https://artfiles.alphacoders.com/894/89493.jpg'); opacity: 0.5; }
}

.main-title, .start-game {
  animation: appear 3s normal;
}

@keyframes appear {
  to {
      width:0;
      height:0;
      overflow:hidden;
  }
}

.move-hero {
  animation: move-right 3s normal;
  animation-delay: 3s;
}

@keyframes move-right {

  0% {
    transform: translate(-100%);
  }

  20% {
    transform: translate(-5%);
  }

  100% {
    transform: translate(0%);
  }
}

.move-villain {
  animation: move-left 3s normal;
  animation-delay: 3s;
}

@keyframes move-left {

  0% {
    transform: translate(100%);
  }

  20% {
    transform: translate(5%);
  }

  100% {
    transform: translate(0%);
  }
}
