.scoring {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.play-score, .comp-score {
  display: flex;
  flex-flow: row wrap;
}

.winners {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.game-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}